.quote {
    font-family: Georgia, Times, serif;
    font-size: large;
    font-style: italic;
    font-weight: bold;
    background-color: blueviolet;
    color: palegoldenrod;
    -moz-osx-font-smoothing: auto;
}

.invisible {
    display: none;
}

.toggle-button {
    font-family: Georgia, Times, serif;
    font-size: large;
    background-color: beige;
    -moz-osx-font-smoothing: auto;
}